/* reset browser padding and margins */
* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.header {
  padding: 10px;
  color: white;
  background-color: #00004d;
}

.wrapper {
  min-height: 85vh;
  margin: 10px;
}

table {
  width: 100%;
}

td, th {
  width: 25%;
}

table tr:first-child {
  background-color: #00004d;
  color: white;
}

tr:nth-child(even) {
  background-color: #8080ff
}

tr:nth-child(odd) {
  background-color: #f0f5f5;
}

footer {
  height: 20vh;
  background-color: #00004d;
}
